*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(27, 53, 106);
    font-family: "Open Sans", sans-serif
}

.background_text{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;

}

.background_text h2{
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

.card{
    background-size: cover;
    background-color: white;
    height: 560px;
    width: 360px;
    border-radius: 24px;
    
}

.card_img{
    height: 210px;
    width: 310px;
    margin-left: 22px;
    
}

.card_img img{
    border-radius: 19px;
   
}

/*.location_img{
    height: 20px;
    width: 20px;
}

.location_text{
    text-align: left;
    
}*/

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_text{
    text-align: left;
    font-family: "Open Sans", sans-serif;
    margin: 27px;

}

.card_text h4 {
    font-weight: 600;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 35px;
    
}

.card_text .text {
    font-style: italic;
    font-size: 16px;

}

.card_text p {
    font-size: 17px;
    line-height: 36px;
    margin-bottom: 30px;
}

.card_text .click {
    color: rgb(27, 53, 106);
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 0px;
    letter-spacing: 1px;
}

.container {
    max-width: 1140px;
    margin: 100px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 50px;
    margin-bottom: 100px;
}