*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

body{
    font-family: "Unna", sans-serif;
    font-size: 20px;
    background: var(--white);
}

:root{
    --white: #FFF;
    --gray: #4D4D4D;
    --gray2: #808080;
    --gray3: #696767;
    --black: #313335;
    --blue: #009CC4;
    --beige: #F3F0E9;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.header_top{
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
    padding-top: 22px;
    
}

.header_icon img{
    width: 175px;
    height: 85px;
    padding-left: 47px;
    object-fit: cover;
}

.header_nav {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-right: 56px; 
}

.header_nav ul{
    padding-right: 56px;
}

.header_nav li a{
    font-family: "Montserrat", sans-serif;
    color: var(--gray);
    font-size: 80%;
    font-weight: 500;
}

.header_main{
    width: 100%;
    height: 90vh;
    background-image: url('./image/Banner\ What\ would\ we\ do\ 3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.header_main_text{
    max-width: 581px;
    margin-left: auto;
    margin-right: 144px;
    padding-top: 40vh;
    color: var(--white); 
}

.header_main_text h1{
    color: var(--white);
    font-size: 310%;
    font-weight: 400;
    line-height: 74.5px;
}

#resp_icon{
    display: none;
}

.first{
    padding: 100px 0;
}

.first h3{
    color: var(--gray);
    font-size: 180%;
    font-weight: 400;
    line-height: 48px;
}

.first_text{
    text-align: left;
    display: flex;
    margin-top: 40px;
    gap: 42px;
}

.blue_line{
    width: 2px;
    height: 66px;
    background-color: var(--blue);
}

.first_text p{
    font-family: "PT Serif",sans-serif;
    color: var(--gray3);
    font-size: 80%;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 40px;
}

.background{
    background: var(--beige);
}

.second{
    padding: 100px 0;
}

.second_img_box{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.image img{
    max-width: 631px;
    height: 427px;
    object-fit: cover;
}

.text{
    text-align: left;
    max-width: 439px;
}

.text h3{
    color: var(--gray);
    font-size: 180%;
    font-weight: 400;
    line-height: 48px;
    padding-bottom: 40px;
}

.second_line_box{
    display: flex;
    gap: 42px;
}

.second_line_text h4{
    color: var(--gray3);
    font-size: 120%;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 40px;
}

.second_line_text p{
    font-family: "PT Serif",sans-serif;
    color: var(--gray3);
    font-size: 80%;
    font-weight: 400;
    line-height: 24px;
}

.second_text_box p{
    font-family: "PT Serif",sans-serif;
    color: var(--gray3);
    font-size: 80%;
    font-weight: 400;
    line-height: 24px;
    padding-top: 40px;
}

.third{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.third_box{
    max-width: 475px;
    text-align: left;
}

.third_box h3{
    color: var(--gray);
    font-size: 180%;
    font-weight: 400;
    line-height: 48px;
    padding-bottom: 40px;
}

.third_line{
    display: flex;
    gap: 42px;
}

.third_text h4{
    color: var(--gray3);
    font-size: 130%;
    font-weight: 400;
    line-height: 32px;
}

.third_text p{
    font-family: "PT Serif",sans-serif;
    color: var(--gray3);
    font-size: 80%;
    font-weight: 400;
    line-height: 24px;
    padding-top: 40px;
}

.third_img img{
    max-width: 560px;
    height: 400px;
    object-fit: cover;
}

.fourth{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.fourth_img img{
    max-width: 560px;
    height: 400px;
    object-fit: cover;
}

.fourth_box{
    max-width: 475px;
    text-align: left;
}

.fourth_box h3{
    color: var(--gray);
    font-size: 180%;
    font-weight: 400;
    line-height: 48px;
    padding-bottom: 40px;
}

.fourth_line{
    display: flex;
    gap: 42px;
}

.fourth_text h4{
    color: var(--gray3);
    font-size: 130%;
    font-weight: 400;
    line-height: 32px;
}

.fourth_text p{
    font-family: "PT Serif",sans-serif;
    color: var(--gray3);
    font-size: 80%;
    font-weight: 400;
    line-height: 24px;
    padding-top: 40px;
}

.fifth_img{
    background-image: url('./image/WhatsApp\ Image\ 2021-06-01\ at\ 6.26\ 1\ \(1\).png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    position: relative;
}

.absolute{
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.75);
    color: var(--gray);
    font-size: 180%;
    font-weight: 400;
    line-height: 48px;
    padding: 15px 30px;
    position: absolute;
    bottom: 12%;
    left: 10%;
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    justify-content: center;
    gap: 37.5px;
}

.grid_card{
    text-align: left;
    padding: 30px;
}

.grid_card h4{
    font-family: "PT Serif",sans-serif;
    color: var(--blue);
    font-size: 130%;
    font-weight: 700;
    line-height: 24px;
}

.grid_card p{
    font-family: "PT Serif",sans-serif;
    color: var(--gray3);
    font-size: 80%;
    font-weight: 400;
    line-height: 24px;
    padding-top: 20px;
}

.sixth{
    padding-bottom: 50px;
    padding-top: 60px;
}

.sixth h3{
    text-align: center;
    color: var(--gray);
    font-size: 180%;
    font-weight: 400;
    line-height: 48px;
    padding-bottom: 60px;
}

.sixth_img{
    position: relative;
}

.sixth_img img{
    max-width: 100%;
}

.abs1{
    max-width: 230px;
    color: var(--gray3);
    font-size: 80%;
    font-weight: 400;
    line-height: 28px;
    position: absolute;
    bottom: 45%;
    left: 8%;
}

.abs2{
    max-width: 230px;
    color: var(--gray3);
    font-size: 80%;
    font-weight: 400;
    line-height: 28px;
    position: absolute;
    bottom: 45%;
    left: 42%;
}

.abs3{
    max-width: 230px;
    color: var(--gray3);
    font-size: 80%;
    font-weight: 400;
    line-height: 28px;
    position: absolute;
    bottom: 36%;
    right: 5%; 
}

.flex{
    display: flex;
    gap: 160px;
}

.sixth_box{
    max-width: 505px;
}

.sixth_text{
    padding-top: 100px;
    display: flex;
    gap: 40px;
}

.sixth_line h3{
    text-align: left;
    color: var(--gray);
    font-size: 180%;
    font-weight: 400;
    line-height: 40px;
}

.sixth_box p{
    font-family: "PT Serif",sans-serif;
    color: var(--gray3);
    font-size: 80%;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.seventh{
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
}

.seventh h3{
    color: var(--gray);
    font-size: 180%;
    font-weight: 400;
    line-height: 40px; 
    padding-bottom: 40px;
}

.seventh_box{
    display: flex;
    gap: 40px;
}

.seventh_text p{
    font-family: "PT Serif",sans-serif;
    color: var(--gray3);
    font-size: 80%;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 40px;
}

.eighth{
    padding-top: 65px;
    padding-bottom: 65px;
    display: flex;
    gap: 100px;
}

.eighth_img img{
    max-width: 560px;
    height: 400px;
    object-fit: cover;
}

.eighth_box{
    max-width: 475px;
}

.eighth_box h3{
    color: var(--gray);
    font-size: 180%;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 40px;
}

.line{
    display: flex;
    gap: 38px;
}

.eighth_text p{
    font-family: "PT Serif",sans-serif;
    color: var(--gray3);
    font-size: 80%;
    font-weight: 400;
    line-height: 24px;
}

footer{
    background: #39363D;
    font-size: 90%;
    font-weight: 400;
    padding: 80px 165px;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_icon img{
    margin-right: 85px;
    object-fit: cover;
}

.footer_nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.footer_nav li a{
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
}

.footer_bottom{
    color: var(--white);
    text-align: center;
    padding-top: 55px;
    line-height: 44px;
}

.footer_bottom h4{
    font-size: 90%;
    font-weight: 400;
}

.footer_bottom p{
    font-size: 90%;
    font-weight: 400;
}