@media screen and (max-width:1336px){
    footer{
        padding-left: 135px;
        padding-right: 135px;
    }
}

@media screen and (max-width:1276px){
    footer{
        padding-left: 100px;
        padding-right: 100px;
    }

    .container{
        margin-right: 30px;
        margin-left: 30px;
    }
}

@media screen and (max-width:1200px){
    footer{
        padding-left: 70px;
        padding-right: 70px;
    }

    .header_nav{
        gap: 20px;
    }
}

@media screen and (max-width:1200px){
    .footer_icon img{
        margin-right: 55px;
    }
}

@media screen and (max-width:1120px){
    .header_nav{
        gap: 10px;
        margin-right: 26px;
    }

    .footer_nav{
        gap: 30px;
    }
}

@media screen and (max-width:1036px){
    .header_icon img{
        width: 155px;
        padding-left: 27px;
    }
}

@media screen and (max-width:1010px){
    .header_icon img{
        width: 150px;
        padding-left: 20px;
    }

    .footer_nav{
        gap: 20px;
    }

    .header_nav{
        flex-direction: column;
        gap: 20px;
        margin-top: 0;
        margin-right: 0;
        width: 270px;
        height: 70vh;
        padding-top: 70px;
        padding-left: 10px;
        background-color: rgba(0, 0, 0, 0.562);
        position: fixed;
        z-index: 1;
        top: 0;
        left: -270px;
        transition: 1s all ease-in-out;
    }

    .header_nav li a{
        color: #FFF;
        font-weight: 400;
    }

    nav{
        border-bottom: none;
    }

    #resp_check:checked ~ .header_nav{
        left: 0;
    }

    #resp_icon{
        color: black;
        margin-top: 50px;
        margin-right: 20px;
        display: block;
    }
}

@media screen and (max-width:970px){
    .footer_nav{
        gap: 15px;
    }

    .footer_icon img{
        margin-right: 25px;
    }
}

@media screen and (max-width:970px){
    .footer_nav{
        gap: 15px;
    }

    .footer_icon img{
        margin-right: 25px;
    }
}

@media screen and (max-width:913px){
    .footer{
        flex-direction: column;
        gap: 20px;
    }

    .footer_nav{
        flex-direction: column;
        align-items: center;
    }

    .footer_icon img{
        margin-right: 0;
    }
}

@media screen and (max-width:890px){
    .first{
        gap: 100px;
    }

    .card_box{
        flex-direction: column;
        align-items: center;
    }

    .card_text{
        margin-right: 0;
        margin-top: 0;
        margin-bottom: -200px;
    }

    .card_text2{
        margin-left: 0;
        margin-top: -200px;
    }
}

@media screen and (max-width:860px){
    .header_main_text{
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width:675px){
    .card_img img{
        width: 550px;
        height: 650px;
    }
}

@media screen and (max-width:650px){
    .card_img img{
        width: 450px;
        height: 600px;
    }

    .first{
        gap: 60px;
    }
}

@media screen and (max-width:540px){
    .header_main_text{
        margin-left: 50px;
    }

    .card_img img{
        width: 400px;
        height: 550px;
    }
}

@media screen and (max-width:480px){
    body{
        font-size: 18px;
    }

    .card_img img{
        width: 350px;
        height: 550px;
    }
}

@media screen and (max-width:445px){
    body{
        font-size: 16px;
    }

    .card_img img{
        width: 300px;
        height: 350px;
    }
}