*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
}

.container2{
    width: 100%;
    height: 100vh;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-container{
    width: 80%;
    height: 80%;
    background-color: red;
    position: relative;
}

.child{
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    position: absolute;
    top:0;
    left: 0;
}

i{
    color: brown;
    font-size: 40px;
}


